:root {
  --main-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --dark-bg: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

address {
  font-style: normal;
}

.link {
  color: var(--title-color);
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  line-height: 1.143;
}

.header-contacts .header-link {
  color: var(--main-color);
}

.link:hover,
.link:focus,
.dark-bg .link:hover,
.dark-bg .link:focus,
.current-page {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--title-color);
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--white);
}

.hero-btn {
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.potfolio-btn {
  font-weight: 500;
  line-height: 1.625;
}

.btn:hover,
.btn:focus {
  background-color: rgba(33, 150, 243, 0.75);
}

.btn:active {
  background-color: rgba(33, 150, 243, 0.5);
}

.title {
  font-weight: 700;
  color: var(--title-color);
}

.hidden-title {
  display: none;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-hero {
  text-align: center;
}

.section-title {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.skills-title {
  line-height: 1.143;
  text-transform: uppercase;
}

.skills-info {
  line-height: 1.714;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--title-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.works-type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
}

.dark-bg {
  background-color: var(--dark-bg);
}

.dark-bg .title,
.dark-bg .link,
.dark-bg .logo {
  color: var(--white);
}

.dark-bg .footer-link-color {
  color: rgba(255, 255, 255, 0.6);
}
